form {
    display: flex;
    gap: 10px;
}
h2 {
    display: flex;
    justify-content: center;
}
h3, p {
    display: flex;
    justify-content: center;
    color:indigo
}
label {
    display: flex;
    gap: 10px;
    width: inherit;
}
input {
    width: 100%;
}
button {
    padding: 2px 20px;
    border-radius: 5px;
    border: 2px solid indigo;
    color: indigo;
    cursor: pointer;
}
.my-state-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 30px;
    width: fit-content;
}
